In [6]:
import pandas as pd 
sheet_name="Dummy_Data"
sheet_id="1mIYAIM8DTibovMeV8bvVDO-B9vgwApZTjyxIXXGFGQw"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"
data=pd.read_csv(url)
data

,user id,timestamp,product id,product name,attribute id,attribute name,time spend on att,option id,option name,option time spend,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,101.0,2021-02-12 02:39:17,1.0,SHIRTS,1.0,COLLAR,15.0,1.0,POLO,12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102.0,2021-08-01 21:50:41,1.0,SHIRTS,1.0,COLLAR,10.0,2.0,BAND,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,103.0,2020-12-21 11:10:32,1.0,SHIRTS,1.0,COLLAR,5.0,3.0,WING,36,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,104.0,2024-01-06 01:06:30,1.0,SHIRTS,1.0,COLLAR,12.0,4.0,ROYAL,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,105.0,2021-05-09 13:05:15,1.0,SHIRTS,1.0,COLLAR,18.0,5.0,CLUB,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,409.0,2022-02-07 13:20:12,4.0,HEELS,4.0,OUTSOLE,40.0,2.0,RUBBER,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
307,410.0,2020-10-11 10:25:36,4.0,HEELS,4.0,OUTSOLE,47.0,3.0,CREPE,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,411.0,2022-09-26 11:44:01,4.0,HEELS,4.0,OUTSOLE,30.0,4.0,FLEX WALK,17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,412.0,2021-10-26 03:43:43,4.0,HEELS,4.0,OUTSOLE,20.0,5.0,WEDGE,49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(311, 24)

In [5]:
data.head()

,user id,timestamp,product id,product name,attribute id,attribute name,time spend on att,option id,option name,option time spend,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,101.0,2022-02-28 10:15:51,1.0,SHIRTS,1.0,COLLAR,15.0,1.0,POLO,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,102.0,2022-03-16 23:36:17,1.0,SHIRTS,1.0,COLLAR,10.0,2.0,BAND,29,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,103.0,2022-10-03 00:54:50,1.0,SHIRTS,1.0,COLLAR,5.0,3.0,WING,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,104.0,2023-12-08 02:51:43,1.0,SHIRTS,1.0,COLLAR,12.0,4.0,ROYAL,26,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,105.0,2022-09-08 23:41:51,1.0,SHIRTS,1.0,COLLAR,18.0,5.0,CLUB,42,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN